html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #444;
}

/************ NAV BUTTONS ************/

.hist-nav-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 1%;
    margin-top: 1%;
}

.nav-button {
    padding: 12px 6px; 
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 4px; 
    background: rgb(255, 255, 255); 
    color: black; 
    font: 13px sans-serif;
    font-weight: bold;
    text-align: center; 
    opacity: 0.7; 
    outline: none; 
    z-index: 999; 
    cursor: pointer; 
    left: calc(50% - 75px); 
    width: 150px;
}

.nav-button:hover {
    opacity: 1;
}

/************ MENU ************/

.menu-container {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.menu-container > * {
    margin-left: 5%;
}

.menubtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.menubtn:hover {
    background-color: #444;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 10%;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

label {
    font-size: 20px;
    color: white;
}

select {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    align-self: center;
}

.interaction-info {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.instructions-menu {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/************ MODALS ************/

.modal-title {
    align-self: center;
}

.modal-body {
	align-self: center;
	justify-self: center;
	align-items: center;

	justify-content: center;
	max-width: 700px;
}

.modal-content {
	margin: auto;
	width: 60%;
	border-radius: 10px;
  
	animation-name: zoom;
	animation-timing-function: ease;
	animation-duration: 0.5s;
}

.modal-body > label {
	margin-left: 10%;
	margin-right: 10%
}

/************ MOVE BUTTONS ************/

.move-button {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 48px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/************ INTERACTION ERROR ************/

.interaction-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

/************ NOTIFICATION ************/

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.notification > img {
    width: 40px;
    aspect-ratio: 1/1;
}