html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/************ NAV BUTTONS ************/

.hist-nav-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 1%;
    margin-top: 1%;
}

.nav-button {
    padding: 12px 6px; 
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 4px; 
    background: rgb(255, 255, 255); 
    color: black; 
    font: 13px sans-serif;
    font-weight: bold;
    text-align: center; 
    opacity: 0.7; 
    outline: none; 
    z-index: 999; 
    cursor: pointer; 
    left: calc(50% - 75px); 
    width: 150px;
}

.nav-button:hover {
    opacity: 1;
}

/************ MENU ************/

.menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.menubtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.menubtn:hover {
    background-color: #444;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

label {
    font-size: 20px;
    color: white;
}

select {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    align-self: center;
}

/************ MOVE BUTTONS ************/

.move-buttons {
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-bottom: 3%;
    gap: 50%;
    bottom: 0;
}

.move-button {
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}